.welcome-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue-100);
  width: 892.3px;
  height: 193.9px;
}
.humaaans-space-icon {
  position: absolute;
  top: 0;
  left: 578px;
  width: 409.8px;
  height: 225px;
  object-fit: cover;
}
.teacher-sbup,
.welcome-back-richa {
  position: absolute;
  top: 64px;
  left: 86px;
  letter-spacing: -0.03em;
  display: inline-block;
  width: 489px;
  height: 66px;
}
.teacher-sbup {
  top: 113px;
  left: 267px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  width: 590px;
  height: 34px;
}
.welcome {
  position: absolute;
  top: 86px;
  left: 500px;
  width: 987.8px;
  height: 225px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--light-selected);
  font-family: var(--font-open-sans);
}
.td {
  padding-right: var(--padding-141xl-8);
}
.td,
.td5 {
  position: relative;
  padding-bottom: var(--padding-0);
}
.tr {
  background-color: var(--light-selected);
}
.td30 {
  padding-right: var(--padding-141xl-8);
}
.td30,
.td35 {
  position: relative;
}
.table {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-gray-300);
  overflow: hidden;
}
.timetable {
  position: absolute;
  top: 480px;
  left: 477px;
  width: 965px;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.query-button,
.weekly-schedule {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekly-schedule {
  top: 357px;
  left: 618px;
  line-height: 10px;
  width: 632px;
  height: 89px;
}
.query-button {
  top: 936px;
  left: 638px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-open-sans);
  color: var(--color-darkblue);
  width: 740px;
  height: 52px;
}
.teacher-copy-child {
  position: absolute;
  top: 898px;
  left: 494px;
  border-radius: 50%;
  background-color: var(--color-dodgerblue-400);
  width: 126px;
  height: 128px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 936px;
  left: 525px;
  font-size: var(--font-size-77xl);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--light-selected);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 52px;
}
.right-bar-child {
  position: absolute;
  top: -24px;
  left: -26px;
  border-radius: var(--br-51xl);
  width: 510px;
  height: 1104.9px;
  object-fit: contain;
}
.vector-2-stroke {
  position: absolute;
  height: 31.71%;
  width: 11.23%;
  top: 49.27%;
  right: 0;
  bottom: 19.02%;
  left: 88.77%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nov-2023 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base-5);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--color-gray-300);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 113.7px;
  height: 20.5px;
}
.my-progress,
.vector-2-stroke-parent {
  position: absolute;
  top: 0;
  left: 250.4px;
  width: 120.2px;
  height: 20.5px;
}
.my-progress {
  left: 0;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--light-primary);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 152.3px;
  height: 20.1px;
}
.month-selector {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 370.6px;
  height: 20.5px;
}
.month-selector,
.month-selector:hover {
  display: flex;
  gap: var(--gap-0);
  position: relative;
}
.mo,
.tu {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 20px;
}
.tu {
  left: 48.2px;
  width: 20px;
}
.th,
.tu,
.we {
  position: absolute;
  top: 0;
  height: 20px;
}
.we {
  left: 90.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.5px;
}
.th {
  left: 139px;
  width: 21.3px;
}
.fr,
.sa,
.su,
.th {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  position: absolute;
  top: 0;
  left: 182.3px;
  width: 16.5px;
  height: 20px;
}
.sa,
.su {
  width: 20.6px;
}
.sa {
  position: absolute;
  top: 0;
  left: 220.9px;
  height: 20px;
}
.su {
  left: 263.5px;
}
.div,
.div1,
.div2,
.div3,
.su,
.weekdays {
  position: absolute;
  top: 0;
  height: 20px;
}
.weekdays {
  left: 0;
  width: 284.2px;
  color: var(--light-primary);
}
.div,
.div1,
.div2,
.div3 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  left: 0;
  color: var(--light-secondary);
  width: 8.3px;
}
.div1,
.div2,
.div3 {
  left: 40.6px;
  width: 10.3px;
}
.div2,
.div3 {
  left: 80.5px;
  width: 11px;
}
.div3 {
  left: 123.2px;
}
.div4,
.div5,
.div6,
.week-01 {
  position: absolute;
  top: 42px;
  left: 145.2px;
  width: 134.2px;
  height: 20px;
}
.div4,
.div5,
.div6 {
  top: 9.6px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.3px;
}
.div5,
.div6 {
  left: 44.7px;
  width: 11px;
}
.div6 {
  left: 90.8px;
  color: var(--light-secondary);
  width: 9.6px;
}
.current-day,
.current-day1,
.current-day2,
.current-day3 {
  position: absolute;
  top: 0;
  left: 122.5px;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 38.5px;
  height: 38.5px;
}
.current-day1,
.current-day2,
.current-day3 {
  top: 84.7px;
  left: 164.1px;
  background-color: var(--color-coral);
}
.current-day2,
.current-day3 {
  top: 41.7px;
  left: 247.5px;
  background-color: var(--color-limegreen);
}
.current-day3 {
  top: 42.7px;
  left: 31.7px;
  background-color: var(--color-deeppink);
}
.div7 {
  position: absolute;
  top: 9.6px;
  left: 136.2px;
  font-weight: 500;
  color: var(--light-selected);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 20px;
}
.current-day4 {
  position: absolute;
  top: 0;
  left: 164.2px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 38.5px;
  height: 38.5px;
}
.div8 {
  position: absolute;
  top: 9.6px;
  left: 177.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 20px;
}
.current-day5 {
  position: absolute;
  top: 0;
  left: 205.2px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 38.5px;
  height: 38.5px;
}
.div9 {
  top: 9.6px;
  left: 214.7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.6px;
  height: 20px;
}
.div10,
.div9,
.week-02 {
  position: absolute;
}
.div10 {
  top: 9.6px;
  left: 258.7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.8px;
  height: 20px;
}
.week-02 {
  top: 74.3px;
  left: 7.6px;
  width: 286px;
  height: 123.2px;
}
.div11 {
  left: 0;
  width: 18.6px;
}
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17 {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.div12 {
  left: 45.4px;
  color: var(--color-brown-100);
  width: 18.6px;
}
.div13,
.div14,
.div15,
.div16,
.div17 {
  left: 90.1px;
  width: 19.3px;
}
.div14,
.div15,
.div16,
.div17 {
  left: 136.9px;
  width: 18.6px;
}
.div15,
.div16,
.div17 {
  left: 178.2px;
}
.div16,
.div17 {
  left: 218.8px;
  width: 17.9px;
}
.div17 {
  left: 261.5px;
  color: var(--color-brown-100);
  width: 18.6px;
}
.week-03 {
  top: 125.9px;
  left: 3.4px;
  width: 280.1px;
}
.div19,
.div20,
.week-03 {
  position: absolute;
  height: 20px;
}
.div19 {
  top: 0;
  left: 44px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.3px;
}
.div20 {
  left: 90.8px;
  width: 18.6px;
}
.div20,
.div21,
.div22,
.div23 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div21 {
  position: absolute;
  left: 135.6px;
  width: 20.6px;
  height: 20px;
}
.div22,
.div23 {
  width: 21.3px;
}
.div22 {
  position: absolute;
  left: 176.8px;
  color: var(--color-brown-100);
  height: 20px;
}
.div23 {
  left: 217.4px;
}
.div23,
.div24,
.week-04 {
  position: absolute;
  height: 20px;
}
.div24 {
  top: 0;
  left: 260.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.week-04 {
  top: 167.9px;
  left: 3.4px;
  width: 280.7px;
}
.div25 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6px;
}
.div25,
.div26,
.div27 {
  position: absolute;
  height: 20px;
}
.div26 {
  top: 0;
  left: 46.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}
.div27 {
  left: 90.8px;
  width: 20.6px;
}
.div27,
.div28,
.div29 {
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div28 {
  position: absolute;
  left: 136.9px;
  width: 20.6px;
  height: 20px;
}
.div29 {
  left: 178.2px;
  width: 21.3px;
}
.div29,
.div30,
.week-05 {
  position: absolute;
  height: 20px;
}
.div30 {
  top: 0;
  left: 221.6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.6px;
}
.week-05 {
  top: 209.9px;
  left: 2.1px;
  width: 240.1px;
}
.weekdays-weeks {
  width: 293.6px;
  position: relative;
  height: 229.8px;
}
.calendar-events {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.calendar-events,
.calendar-events:hover {
  gap: 22.02px;
  position: relative;
}
.calendar {
  position: absolute;
  top: 137px;
  left: 26px;
  width: 390.8px;
  height: 279.9px;
  display: grid;
  grid-template-rows: 20px 232px;
  grid-template-columns: 391px;
  grid-row-gap: 28px;
  grid-column-gap: 0;
}
.combined-shape-icon {
  position: absolute;
  height: 93.36%;
  width: 100%;
  top: 6.64%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification-child {
  position: absolute;
  top: 0;
  left: 18.7px;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 11.2px;
  height: 9.1px;
}
.notification {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.79%;
  width: 5.94%;
  top: 4.35%;
  right: 82.57%;
  bottom: 92.86%;
  left: 11.49%;
}
.allura-avatar,
.allura-avatar-icon {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  height: 40.6px;
}
.allura-avatar {
  left: 3.6px;
  background-color: var(--color-royalblue-100);
  width: 52.7px;
}
.allura-avatar-icon {
  left: 0;
  width: 58.7px;
  object-fit: cover;
}
.richa-purohit {
  position: absolute;
  top: 12.2px;
  left: 71.2px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.03em;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--light-primary);
  text-align: left;
  display: inline-block;
  width: 96.1px;
  height: 20.1px;
}
.allura-avatar-parent {
  position: absolute;
  top: 4.9px;
  left: 16.2px;
  width: 167.3px;
  height: 40.6px;
}
.icon-chevron-left,
.profile {
  position: absolute;
  border-radius: var(--br-3xs);
}
.icon-chevron-left {
  top: 21.1px;
  right: 14.9px;
  width: 15px;
  height: 12.1px;
  object-fit: contain;
}
.profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  top: 38px;
  left: 134px;
  width: 227.2px;
  height: 50.3px;
}
.see-all,
.upcoming-activities {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--light-primary);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 247.9px;
  height: 29.2px;
}
.see-all {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 7.6px;
  left: 322.7px;
  font-size: var(--font-size-smi);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-royalblue-100);
  width: 52.3px;
  height: 19.5px;
}
.icon-chevron-left1 {
  position: absolute;
  top: 47.6px;
  right: 17.4px;
  border-radius: var(--br-3xs);
  width: 15px;
  height: 13px;
  object-fit: contain;
}
.b,
.frame-child {
  position: absolute;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-deeppink);
  width: 62.3px;
  height: 54.1px;
}
.b {
  top: 8.7px;
  left: 13.7px;
  font-size: var(--font-size-6xl);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--light-selected);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 36.1px;
  height: 36.8px;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4.3px;
  left: 0;
  width: 62.3px;
  height: 54.1px;
}
.meeting-with-dr {
  position: absolute;
  top: 0;
  left: 0.1px;
  font-size: var(--font-size-mini);
  display: inline-block;
  color: var(--light-primary);
  width: 227px;
  height: 24px;
}
.am-9,
.th-floor-office,
.th-nov-2023 {
  position: absolute;
  top: 47.6px;
  left: 0;
  display: inline-block;
  width: 252.9px;
  height: 15.1px;
}
.am-9,
.th-nov-2023 {
  top: 0;
  width: 87.2px;
}
.am-9 {
  left: 107.1px;
  width: 79.7px;
}
.frame-item {
  position: absolute;
  top: 4.3px;
  left: 93.4px;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 7.5px;
  height: 6.5px;
}
.th-nov-2023-parent {
  position: absolute;
  top: 27px;
  left: 0;
  width: 186.9px;
  height: 15.1px;
}
.frame-parent,
.meeting-with-dr-gy-shitole-parent,
.social-ins {
  position: absolute;
  top: 0;
  left: 71px;
  width: 252.9px;
  height: 62.7px;
}
.frame-parent,
.social-ins {
  top: 22.7px;
  left: 24.9px;
  width: 323.9px;
}
.social-ins {
  top: 191.1px;
  left: 11.9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lavenderblush);
  width: 390px;
  height: 108.2px;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-limegreen);
  width: 62.3px;
  height: 54.1px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 8.7px;
  left: 13.7px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--light-selected);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36.1px;
  height: 36.8px;
}
.ellipse-group {
  position: absolute;
  top: 4.3px;
  left: 0;
  width: 62.3px;
  height: 54.1px;
}
.adv-c-assignment,
.to-be-submitted {
  position: absolute;
  left: 0;
  display: inline-block;
}
.adv-c-assignment {
  top: 0;
  font-size: var(--font-size-mini);
  color: var(--light-primary);
  width: 261.6px;
  height: 21.6px;
}
.to-be-submitted {
  top: 47.6px;
  width: 174.4px;
  height: 15.1px;
}
.adv-c-assignment-due-parent,
.adv-maths,
.frame-group {
  position: absolute;
  top: 0;
  left: 71px;
  width: 261.6px;
  height: 62.7px;
}
.adv-maths,
.frame-group {
  top: 22.7px;
  left: 28.7px;
  width: 332.7px;
}
.adv-maths {
  top: 326.5px;
  left: 13.9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
  width: 390px;
  height: 108.2px;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-coral);
  width: 62.3px;
  height: 54.1px;
}
.auditorium-programme {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  display: inline-block;
  color: var(--light-primary);
  width: 220.5px;
  height: 21.6px;
}
.rathithanamal-auditorium {
  position: absolute;
  top: 47.6px;
  left: 0;
  display: inline-block;
  width: 269.1px;
  height: 15.1px;
}
.rd-nov-2023 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 86px;
}
.am-1,
.rd-nov-2023,
.rd-nov-2023-parent {
  position: absolute;
  height: 15.1px;
}
.am-1 {
  top: 0;
  left: 107.1px;
  display: inline-block;
  width: 86px;
}
.rd-nov-2023-parent {
  top: 27px;
  left: 0;
  width: 193.1px;
}
.auditorium-programme-parent,
.dr-dipo,
.frame-container {
  position: absolute;
  top: 0;
  left: 71px;
  width: 269.1px;
  height: 62.7px;
}
.dr-dipo,
.frame-container {
  top: 22.7px;
  left: 24.9px;
  width: 340.1px;
}
.dr-dipo {
  top: 457.6px;
  left: 15.9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-seashell);
  width: 390px;
  height: 108.2px;
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 62.3px;
  height: 54.1px;
}
.b2 {
  position: absolute;
  top: 8.7px;
  left: 22.4px;
  font-size: var(--font-size-6xl);
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--light-selected);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 18.7px;
  height: 36.8px;
}
.next-lecture-in {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: var(--light-primary);
  width: 244.2px;
  height: 21.6px;
}
.am-930,
.c-classes-and,
.nov-20231 {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 15.1px;
}
.c-classes-and {
  top: 47.6px;
  font-size: var(--font-size-3xs);
  width: 269.1px;
}
.am-930,
.nov-20231 {
  top: 0;
  width: 118.4px;
}
.am-930 {
  top: 1px;
  left: 136px;
  font-size: var(--font-size-xs);
  width: 115px;
  height: 14px;
}
.frame-child4 {
  position: absolute;
  top: 5.3px;
  left: 122.5px;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 7.5px;
  height: 6.5px;
}
.nov-2023-parent {
  position: absolute;
  top: 26.1px;
  left: 2.1px;
  width: 251px;
  height: 15.1px;
  font-size: var(--font-size-smi);
}
.frame-div {
  position: absolute;
  top: 22.7px;
  left: 19.9px;
  width: 340.1px;
  height: 62.7px;
}
.life-con,
.scroll,
.scroll-child {
  position: absolute;
  border-radius: var(--br-3xs);
}
.life-con {
  top: 60px;
  left: 10.9px;
  background-color: var(--color-aliceblue);
  width: 390px;
  height: 108.2px;
  font-size: var(--font-size-mini);
}
.scroll,
.scroll-child {
  top: 0;
  left: 0;
  background-color: var(--color-royalblue-100);
  width: 6.2px;
  height: 171.6px;
}
.scroll {
  top: 56.8px;
  left: 433px;
  background-color: var(--color-whitesmoke);
  height: 512.8px;
}
.activities {
  position: absolute;
  top: 477px;
  left: 20px;
  width: 439.2px;
  height: 569.6px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
.right-bar {
  position: absolute;
  top: -3px;
  left: 1488px;
  width: 505px;
  height: 1080px;
  overflow: hidden;
  font-size: var(--font-size-base-5);
  color: var(--color-brown-200);
  font-family: var(--font-inter);
}
.frame13,
.rectangle-div {
  position: absolute;
  top: 0;
  height: 1085px;
}
.rectangle-div {
  left: 26px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: #ebc7c7;
  width: 346px;
}
.frame13 {
  left: 0;
  width: 372px;
  overflow: hidden;
}
.logo-child,
.timelog {
  position: absolute;
  top: 0;
  left: 0;
  width: 39.2px;
  height: 38.1px;
}
.timelog {
  top: 5.5px;
  left: 45.8px;
  font-size: var(--font-size-3xl-7);
  display: inline-block;
  font-family: var(--font-ubuntu);
  color: var(--color-dodgerblue-300);
  text-align: left;
  width: 157.2px;
  height: 28.4px;
}
.frame12,
.frame14,
.logo {
  position: absolute;
  height: 38.1px;
}
.logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 75px;
  width: 203px;
}
.frame12,
.frame14 {
  top: 67px;
  left: 0;
  width: 278px;
  overflow: hidden;
}
.frame12 {
  top: 16px;
  left: -30px;
  width: 372px;
  height: 1085px;
}
.home-child {
  left: 0;
  background-color: var(--color-royalblue-100);
  width: 7.8px;
  height: 65px;
}
.home-child,
.home1,
.vector-icon {
  position: absolute;
  top: 0;
}
.home1 {
  left: 45.2px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-royalblue-100);
  text-align: left;
  width: 77.6px;
  height: 28.8px;
}
.vector-icon {
  height: 97.22%;
  width: 26.3%;
  right: 73.7%;
  bottom: 2.78%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-parent {
  position: absolute;
  top: 18.1px;
  left: 103.4px;
  width: 122.8px;
  height: 28.8px;
}
.classes1,
.home {
  position: absolute;
  top: 0;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  left: 0;
  width: 375px;
  height: 65px;
}
.classes1 {
  left: 41.2px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  text-align: left;
  width: 83.5px;
  height: 28.8px;
}
.combined-shape-icon1 {
  position: absolute;
  height: 84.38%;
  width: 27.19%;
  top: 11.11%;
  right: 72.81%;
  bottom: 4.51%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.classes {
  position: absolute;
  top: 0;
  left: 0;
  width: 124.7px;
  height: 28.8px;
}
.frame17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 111px;
  width: 257px;
  overflow: hidden;
}
.frame16,
.frame17,
.sign-out1 {
  position: absolute;
  height: 28.8px;
}
.frame16 {
  top: 110px;
  left: 0;
  width: 368px;
  overflow: hidden;
}
.sign-out1 {
  top: 0;
  left: 38.9px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-indianred-200);
  text-align: left;
  width: 97.3px;
}
.logout-icon {
  position: absolute;
  height: 86.46%;
  width: 20.19%;
  top: 7.29%;
  right: 79.81%;
  bottom: 6.25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.sign-out {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 129px;
  width: 136.2px;
}
.frame18,
.settings1,
.sign-out {
  position: absolute;
  height: 28.8px;
}
.frame18 {
  top: 683px;
  left: 0;
  width: 265.2px;
  overflow: hidden;
}
.settings1 {
  top: 0;
  left: 38.9px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  text-align: left;
  width: 92.7px;
}
.combined-shape-icon2 {
  position: absolute;
  height: 95.49%;
  width: 20.9%;
  top: 3.82%;
  right: 79.1%;
  bottom: 0.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame19,
.frame20,
.settings {
  position: absolute;
  height: 28.8px;
}
.settings {
  top: 0;
  left: 0;
  width: 131.6px;
}
.frame19,
.frame20 {
  overflow: hidden;
}
.frame20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 126px;
  width: 246px;
}
.frame19 {
  top: 616px;
  left: 0;
  width: 372px;
}
.frame23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 126px;
  width: 253px;
  overflow: hidden;
}
.frame22,
.frame23,
.messages1 {
  position: absolute;
  top: 0;
  height: 28.8px;
}
.frame22 {
  left: 0;
  width: 379px;
  overflow: hidden;
}
.messages1 {
  left: 42.3px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  text-align: left;
  width: 109.9px;
}
.combined-shape-icon3 {
  position: absolute;
  height: 99.65%;
  width: 15.79%;
  top: 0;
  right: 84.21%;
  bottom: 0.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 25.2px;
  height: 23.4px;
}
.b3 {
  position: absolute;
  top: 0.8px;
  left: 7.5px;
  font-size: var(--font-size-base-6);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--light-selected);
  text-align: left;
  width: 10.7px;
  height: 22.4px;
}
.ellipse-parent1 {
  position: absolute;
  top: 3.2px;
  left: 170.5px;
  width: 25.2px;
  height: 23.4px;
}
.frame21,
.frame24,
.messages {
  position: absolute;
  top: 0;
  height: 28.8px;
}
.messages {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 111px;
  width: 195.7px;
}
.frame21,
.frame24 {
  left: 0;
  width: 306.7px;
  overflow: hidden;
}
.frame21 {
  top: 182px;
  width: 379px;
}
.am,
.hey-i-just,
.richa-patil {
  position: absolute;
  display: inline-block;
}
.am {
  top: 3px;
  left: 105px;
  font-weight: 600;
  width: 69px;
  height: 19px;
}
.hey-i-just,
.richa-patil {
  top: 0;
  left: 4.5px;
  width: 147px;
  height: 22px;
}
.hey-i-just {
  top: 26.7px;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-gray-200);
  width: 179.6px;
  height: 15.5px;
}
.combined-shape-icon4 {
  position: absolute;
  height: 99.37%;
  width: 8.36%;
  top: 0.63%;
  right: 91.64%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.first-chapter-of {
  position: absolute;
  top: 0;
  left: 16.9px;
  display: inline-block;
  width: 146.9px;
  height: 15.5px;
}
.combined-shape-parent,
.frame-wrapper {
  position: absolute;
  top: 4.4px;
  left: 9.5px;
  width: 163.8px;
  height: 15.9px;
}
.frame-wrapper {
  top: 72px;
  left: 0.5px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 182.8px;
  height: 24.3px;
  font-size: var(--font-size-3xs);
  color: var(--color-royalblue-100);
}
.richa-patil-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 183.3px;
  height: 96.3px;
  font-size: var(--font-size-base);
  color: var(--light-primary);
}
.hey-i-just1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 179.6px;
  height: 15.5px;
}
.frame-inner1 {
  position: absolute;
  top: 45.3px;
  left: 0.5px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 182.8px;
  height: 24.3px;
  font-size: var(--font-size-3xs);
  color: var(--color-royalblue-100);
}
.frame27 {
  position: absolute;
  top: 26.7px;
  left: 0;
  width: 183.3px;
  height: 69.7px;
  overflow: hidden;
}
.parth-bathe {
  position: absolute;
  top: 0;
  left: 3.5px;
  display: inline-block;
  width: 147px;
  height: 22px;
}
.rohit-anish-parent {
  position: absolute;
  top: 126px;
  left: 0;
  width: 183.3px;
  height: 96.3px;
}
.frame-parent1,
.frame28 {
  position: absolute;
  left: 1px;
  height: 222.3px;
}
.frame28 {
  top: 0;
  width: 183.3px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--light-primary);
}
.frame-parent1 {
  top: 121px;
  width: 184.3px;
  font-size: var(--font-size-mini);
}
.frame26,
.mayowa {
  position: absolute;
  top: 0;
  left: 133px;
  width: 185.3px;
  height: 343.3px;
}
.frame26 {
  left: 0;
  width: 318.3px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.frame-icon3,
.frame15,
.frame25 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 126px;
  height: 15px;
  overflow: hidden;
}
.frame-icon2,
.frame-icon3,
.frame15,
.frame25 {
  top: 123px;
  width: 129px;
}
.frame-icon3,
.frame15,
.frame25 {
  top: 249px;
}
.frame15,
.frame25 {
  top: 233px;
  width: 318.3px;
  height: 343.3px;
}
.frame15 {
  top: 208px;
  left: -30px;
  width: 379px;
  height: 711.8px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
.left-bar {
  position: absolute;
  top: -19px;
  left: 0;
  width: 349px;
  height: 1117px;
}
.teacher-copy {
  width: 100%;
  position: relative;
  background-color: var(--light-selected);
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-stardos-stencil);
}
